.gukjin_header_logo {
    margin: 2rem 0; font-family: 'Indie Flower', cursive;
}

.gukjin_header_button{
    margin-bottom: 2rem;
}

.gukjin_footer_logo{
    margin: 2rem 0; font-family: 'Indie Flower', cursive;
}

.gukjin_footer_button{
    margin-top: 2rem;
}


.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}